body {
	background: #F8F7FF;
	color: rgb(50, 50, 50);
	font-family: Source Sans Pro, sans-serif;
	font-size: 18px;
	line-height: 1.6;
}

h1, h2, {
	font-family: Poppins, sans-serif;
	line-height: 1.6;
	letter-spacing: 2px;
}

h1 {
	color: #CD1818;
	font-size: 30px;
	font-weight: 600;
}

h2 {
	color: #E3170A;
	font-size: 22px;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: #C87941;
	font-weight: 700;
	font-weight: bolder;
	transition: color 0.3s ease;
}

a:hover {
	text-decoration: none;
	color: #E79E4F;
}

.container {
	width:  700px;
	margin: 40px auto;
}

@media (max-width:  960px) {
	.container {
		width: 700px;
	}
}

@media (max-width:  720px) {
	.container {
		width:  550px;
	}
}

@media (max-width:  540px) {
	.container {
		width:  350px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-red {
	background-color: #A13333;
	font-size: 18px;
	color: white;
	padding:  15px 20px;
	border-radius: 4px;
}

.btn-red:hover {
	background-color: #BB6464;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display:  inline;
	padding: 10px;
}

.list-inline i {
	font-size:  50px;
	color:  #A13333;
}

.list-inline i:hover {
	color:  #BB6464;
}

#introduction p {
	margin-bottom:  40px;
}